<div class="borderedContainer">
  <input [(ngModel)]="email" class="form-control mb-3" type="email" placeholder="Ingrese Email" required>
  <input [(ngModel)]="password" class="form-control mb-3" type="password" placeholder="Ingrese contraseña" required>
</div>
<div class="col-md-6">
  <label for="status">Status</label>
  <select id="status" name="status">
    <option value="online">Online</option>
    <option value="away">Away</option>
    <option value="busy">Busy</option>
    <option value="appear_offline">Offline</option>
  </select>
</div>
<div class="col-md-6">
  <div>
    <input type="checkbox" name="remember" id="remember">
    <label for="remember"> Recuerda mi email </label>
  </div>
  <div>
    <input type="checkbox" name="remember_pass" id="remember_pass">
    <label for="remember_pass"> Recuerda mi contraseña </label>
  </div>
  <div>
    <input type="checkbox" name="conect_automatically" id="conect_automatically">
    <label for="conect_automatically"> Iniciar sesión automáticamente </label>
  </div>
</div>
<div class="text-center mt-3">
  <a (click)="login()" class="btn btn-primary">Iniciar sesión</a>
</div>
