<div id="homeContainer">
  <div class="whiteBorderGlassBox">
    <div class="homeHeaderContainer">
      <div class="row">
        <div class="col-md-auto">
          <div class="avatarFrameOnline">
            <img src="assets/img/generic_avatar.png" class="homeAvatarPicture" alt="">
          </div>
        </div>
        <div class='col'>
          <b>Eduardo</b>
          <div>
            <span>Online</span>
            <br>
            <span>Escribe un mensaje personal</span><br>
            <a (click)="logOut()">Cerrar sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="whiteContainerPadded mt-3">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Search friend" [(ngModel)]="query">
    </div>
    <div class='col-md-auto'><img src="assets/img/logo_live_add.png" (click)="open(content)" class="icon" alt=""></div>
  </div>

  <ng-container *ngFor="let user of friends |search: query; let i = index">
    <!-- <div *ngIf="user.friend; else enemigos"> -->
    <strong *ngIf="i==0">Amigos: ({{friends.length}}/{{friends.length}})</strong>
    <p>
      {{i+1}} : <img class="status-friend" src="assets/img/logo_live_{{user.status}}.png"><a
        routerLink="/conversation/{{user.uid}}"><strong>{{user.nick}}</strong> - {{user.email}}</a>
    </p>
    <!-- </div> -->

    <!-- <ng-template #enemigos>
        <strong *ngIf="i==3" style='color:red'>Enemigos: </strong>
        <p>
          {{i+1}} : <a>{{user.nick}} - {{user.email}}</a>
        </p>
      </ng-template> -->
  </ng-container>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar amigo</h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body m-3">
    <form>
      <div class="row">
        <strong>Ingresa el email de tu amigo</strong>
        <input [(ngModel)]="this.friendEmail" name="friendEmail" type="email" class="form-control" placeholder="Email" (keyup.enter)="sendRequest()">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="sendRequest()">Guardar</button>
  </div>
</ng-template>
